.my-3.add-new {
    align-items: center;
    justify-content: space-between;

    .btn {
        margin: 0 6px;
    }

    i {
        margin-right: 3px;
    }
}

.customize-table {
    overflow-x: auto;
}

.sort-header {
    display: flex;
    justify-content: space-between;

    i {
        padding: 0 3px;
        cursor: pointer;
    }
}

.pagination {
    justify-content: center;
}